# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: 
 - it is one of the data types that we can store in a variable. numbers types is ( integer, float, and complex ).

Strings: 
 - it is one of the data types that we can store in a variable. it is a sequance of characters

Lists: 
 - it is one of the data types which can be written as a comma-separated values between square brackets. we can add or remove   from this list.

Tuples: 
 - it is one of the data types which ordered and immutable and writen between ().

Dictionaries: 
 - it is one of the data types which have a collection of keys and values.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [14]:
7**2-9/5+6.5*8+1.05

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [15]:
4 * (6 + 5)

44

In [16]:
4 * 6 + 5

29

In [17]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
- Float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
# we might raising the number to the power (0.5) and use (**) 
# EX: (5)**0.5

In [ ]:
# Square:
# we might using (**) operation
# EX: 5**2

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [18]:
s = 'hello'
# Print out 'e' using indexing

s[4]

'o'

Reverse the string 'hello' using slicing:

In [19]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [22]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [23]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [24]:
# Method 1:

l1 = [0,1,2]
l2 = [2,0,1]
l3 = [2,1,0]

list = [l1[0],l2[1],l3[2]]

list

[0, 0, 0]

In [27]:
# Method 2:

list = [0]
list.append(0)
list.append(0)

list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [38]:
list3 = [1,2,[3,4,'hello']]

newlist = list3.pop(2)

newlist.pop(2)

newlist.append("goodbye")

list3.append(newlist)

list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [41]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [42]:
d = {'simple_key':'hello'}
# Grab 'hello'

d.get('simple_key')

'hello'

In [51]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d1 = d.get('k1')

d1.get('k2')

'hello'

In [58]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d1 = d.get('k1')

d2 = d1.pop(0)

d3 = d2.get('nest_key')

d3[1][0]

'hello'

In [65]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d1 = d.get('k1') 

d2 = d1[2]

d3 = d2.get('k2')

d4 = d3[1]

d5 = d4.get('tough')

d5[2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
- yes, when the dict elements data type be the same like all data types be an int, or float, etc...

## Tuples

What is the major difference between tuples and lists?<br><br>
- Lists are mutable while tuples are immutable
- A list is created using square brackets [] whereas the tuple is ceated using parenthesis ()

How do you create a tuple?<br><br>
- we can create a tuple by adding values between parenthesis () and seperate by comma(,).

## Sets

What is unique about a set?<br><br>
 - the values are unique in sets that cannot be repeated

Use a set to find the unique values of the list below:

In [66]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3

# False

In [ ]:
# Answer before running cell
3 <= 2

# False

In [ ]:
# Answer before running cell
3 == 2.0

# False

In [ ]:
# Answer before running cell
3.0 == 3

# True

In [ ]:
# Answer before running cell
4**0.5 != 2

# are the square root of 4 is not equal 2 ? False

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']


# this mean are 3 >= 4 ? False

# Great Work!